@import "tailwindcss";
@keyframes wiggle {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
}

.animate-wiggle {
  animation: wiggle 0.3s ease-in-out infinite;
}
